<div ng-controller="homeController" class = "daxfamily">
<title>Indent</title>

  <section id="slider">
    <div class="main-slider">
      <div class="single-slide">
        <img src="assets/Img/banner1.png" alt="img">
      </div>
      <div class="single-slide">
        <img src="assets/Img/banner4.png" alt="img">
      </div>
      <div class="single-slide">
        <img src="assets/Img/banner3.png" alt="img">
      </div>
      <div class="single-slide">
        <img src="assets/Img/banner2.png" alt="img">
      </div>
    </div>
  </section>
  <!-- End slider -->



  <!-- Start about  -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Acerca de Nostros</h2>
            <span class="line"></span>
            <p>Somos una empresa dedicada al servicio de la salud bucal integral.Contamos con Profesionales altamente especializados, con la finalidad de brindarle a la sociedad hondureña un servicio digno, una atención de calidad, con tecnología de punta y con los mejores precios del mercado.</p>
          </div>
        </div>



  <!-- Start Service -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Especialidades</h2>
            <span class="line"></span>
            <p></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="service-content">
            <div class="row">
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Odontología General</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon greenish"></i>
                  <h4 class="service-title">Odontología Infantil</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Endodoncia</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Periodoncía</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon greenish"></i>
                  <h4 class="service-title">Ortodoncía niños y adultos</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Odontología Geriártica</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Odontología Neurofocal</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon greenish"></i>
                  <h4 class="service-title">Implantes Dentales</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Rehabilitación Oral</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon "></i>
                  <h4 class="service-title">Cirugía Bucal</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon greenish"></i>
                  <h4 class="service-title">Odontología del Deportista</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Cirugía Plástica</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Nutrición</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
